# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv
auth.json
.env

# Dependency directories
node_modules/

# Build outputs
build/
dist/

# OS
.DS_Store
Thumbs.db
